<div class="agent-detail clearfix">

  <div class="left-box">
    <h3>Agent <%= agent.nume.to_s + " " + agent.prenume.to_s %></h3>
    <!--<figure>-->
      <!--<a href="#">-->
        <!--<img src="images/temp-images/agent-john.jpg"  alt="agent pic">-->
      <!--</a>-->
    <!--</figure>-->
    <ul class="contacts-list">
      <li class="office">Telefon : <%= agent.mobile %></li>
      <li class="email">Email : <a href="mailto: <%= agent.email %>"><%= agent.email %></a></li>
      <li class="fax">Fax  : <%= agent.fax %></li>
    </ul>
  </div>

  <div class="contact-form">

    <h3 id="contact">Contact</h3>

    <%= form_for @message, :html => {:multipart => true, class: "contact-form-small"} do |form| %>
        <fieldset class="fields">
          <div class="field">
            <%= form.text_field :nume, :placeholder => "Name" %>
          </div>

          <div class="field">
            <%= form.text_field :email, :placeholder => "Email" %>
          </div>

          <div class="field">
            <%= form.text_area :mesaj, :placeholder => "Scrieti mesajul aici..." %>
          </div>

            <%= form.hidden_field :offer_id, :value => offer.id %>
        </fieldset>

        <fieldset class="actions">
          <%= form.submit "Trimite", :class => "btn btn-large btn-primary" %>
        </fieldset>

    <% end %>

    <div class="error-container"></div>
    <div id="message-sent"><%= flash[:notice].to_s %></div>
  </div>
</div>
