
<section class="property-items">

  <div class="narrative">
    <h2>Ofertele noastre</h2>
    <p>Vezi ultimele proprietati listate si facilitatile acestora</p>
  </div>

  <div class="property-items-container clearfix">
    <% @offers.each do |offer| %>
        <div class="span6 ">
          <article class="property-item clearfix">
            <h4><a href="<%= b2c_offer_path(offer) %>"><%= offer.titlu %></a></h4>

            <figure>
              <% if offer.offer_images.any? %>
                <%= link_to image_tag(imaginea_principala_listare(offer)), b2c_offer_path(offer) %>
              <% end %>
              <% if offer.exclusiva %>
                <figcaption>OFERTA EXCLUSIVA</figcaption>
              <% end %>
            </figure>

            <div class="detail">
              <h5 class="price"><%= pret(offer.pret_vanzare, offer.pret_inchiriere) %><small> <%= pret_per(offer.moneda, offer.pret_per) %></small></h5>
              <p><%= offer.descriere %></p>
              <%= link_to "Detalii <i class='icon-caret-right'></i>".html_safe, b2c_offer_path(offer), class: "more-details" %>
            </div>

            <div class="property-meta">
              <span><i class="icon-area"></i><%= offer.suprafata_utila_mp %> mp suprafata utila</span><span><i class="icon-bed"></i><%= offer.dormitoare %> &nbsp;<%= dormitoare(offer.dormitoare) %></span><span><i class="icon-bath"></i><%= offer.nr_bai %>&nbsp;<%= bai(offer.nr_bai) %></span>
            </div>
          </article>
        </div><!-- End .span6 -->
    <% end %>
  </div><!-- End .property-items-container -->

  <div class="mypagination">
    <%= will_paginate @offers, :container => false %>
    <!--<a href="#" class="real-btn current">1</a> <a href="#" class="real-btn">2</a>-->
  </div>


</section><!-- End .property-items -->
