
<!-- Sidebar -->
<aside class="sidebar">

  <section class="widget advance-search">
    <h4 class="title search-heading">Cauta proprietate<i class="icon-search"></i></h4>
    <div class="as-form-wrap">

        <%= form_tag b2c_offer_listing_path, :method => 'get', :class => "advance-search-form clearfix" do %>
        <div class="option-bar">
          <label>Zone</label>
            <span class="selectwrap">
                <select name="zone" id="select-location" class="search-select">
                  <% Offer::ZONE.each do |zona| %>
                      <option value="<%= zona.try(:downcase) %>"><%= zona.try(:capitalize) %></option>
                  <% end %>
                  <option value="oricare" selected="selected">Oricare</option>
                </select>
            </span>
        </div>

        <div class="option-bar">
          <label>Tip Operatiune</label>
                                    <span class="selectwrap">
                                        <select name="tip-operatiune" id="select-property-type" class="search-select">
                                          <option value="vanzare">Vanzare</option>
                                          <option value="cumparare">Inchiriere</option>
                                          <option value="oricare" selected="selected">Oricare</option>
                                        </select>
                                    </span>
        </div>

        <div class="option-bar">
          <label>Tip Oferta</label>
                                    <span class="selectwrap">
                                        <select name="tip-oferta" id="select-bedrooms" class="search-select">
                                          <% Offer::TIPURI_OFERTA.each do |tip_oferta| %>
                                              <option value="<%= tip_oferta.try(:downcase) %>"><%= tip_oferta.try(:capitalize) %></option>
                                          <% end %>
                                          <option value="oricare" selected="selected">Oricare</option>
                                        </select>
                                    </span>
        </div>

        <div class="option-bar mini first">
          <label>Numar camere</label>
                                    <span class="selectwrap">
                                        <select name="nr-camere" id="select-bathrooms" class="search-select">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5+</option>
                                          <option value="oricat" selected="selected">Oricat</option>
                                        </select>
                                    </span>
        </div>

        <div class="option-bar mini">
          <label>Pret Minim(€)</label>
                                    <span class="inputwrap">
                                        <%= text_field_tag 'min-price', '', :class => "search-input" %>
                                    </span>
        </div>

        <div class="option-bar mini">
          <label>Pret Maxim(€)</label>
                                    <span class="inputwrap">
                                        <%= text_field_tag 'max-price', '', :class => "search-input" %>
                                    </span>
        </div>

        <div class="option-bar mini">
          <label>Cod unic</label>
                                    <span class="inputwrap">
                                        <%= text_field_tag 'cod-unic', '', :class => "search-input" %>
                                    </span>
        </div>

            <%= submit_tag 'Cauta', :class => "real-btn btn" %>
      <% end %>
    </div>
  </section>   </aside><!-- End Sidebar -->