
<!--<div class="inner-wrapper" style="width: 826px; float: left;">-->
<!--<article class="format-gallery">-->
<!--<header>-->
<!--<h3 class="post-title"><%#= @offer.tip_operatiune %> <%#= @offer.tip_oferta %> <%#= @offer.nr_camere %> <%#= camere(@offer.nr_camere) %></h3>-->

<!--<div class="post-meta gallery-meta thumb-exist">-->
<!--<span> Postat pe data de <span class="date">  <%#= @offer.created_at.strftime("%d/%m/%Y") %></span></span>-->
<!--</div>-->
<!--</header>-->
<!--<div class="listing-slider">-->
<!--<span class="format-icon gallery"></span>-->

<!--<div class="flex-viewport" style="overflow: hidden; position: relative;">-->
<!--<ul class="slides">-->


<!--</ul>-->
<!--</div>-->

<!--<ul class="flex-direction-nav">-->
<!--<li><a class="flex-prev" href="#">Previous</a></li>-->
<!--<li><a class="flex-next" href="#">Next</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--<%#= render "detalii_oferta", offer: @offer %>-->
<!--</article>-->

<!--</div>-->

<div class="container contents lisitng-grid-layout">

  <div class="row">

    <div class="span9 main-wrap">

      <!-- Main Content -->
      <div class="main">

        <section id="overview">

          <div id="property-detail-flexslider" class="clearfix">
            <div class="flexslider">


              <ul class="slides">
                <% @offer.offer_images.order('position ASC').each do |offer_image| %>
                    <li data-thumb="<%= offer_image.image_url(:listing) %>">
                      <a href="<%= offer_image.image_url(:listing) %>" title="" class="swipebox">
                        <%= image_tag offer_image.image_url(:listing), alt:"image#{offer_image.position.to_i + 1}" %>
                      </a>
                    </li>
                <% end %>

              </ul>


            </div>
          </div>

          <article class="property-item clearfix">

            <div class="wrap clearfix">
              <h4 class="title"><%= @offer.zona %>, <%= @offer.cartier %>, <%= @offer.localitate %>, Prahova</h4>
              <h5 class="price">
                                    <span class="status-label">
                                       <%= @offer.tip_operatiune %>
                                    </span>
                                    <span>
                                        <%= pret(@offer.pret_vanzare, @offer.pret_inchiriere) %><small> <%= pret_per(@offer.moneda, @offer.pret_per) %></small>
                                    </span>
              </h5>
            </div>

            <div class="property-meta clearfix">
              <span><i class="icon-area"></i><%= @offer.suprafata_utila_mp %> mp suprafata utila</span><span><i class="icon-bed"></i><%= @offer.dormitoare %> &nbsp;<%= dormitoare(@offer.dormitoare) %></span><span><i class="icon-bath"></i><%= @offer.nr_bai %>&nbsp;<%= bai(@offer.nr_bai) %></span>
              <!-- Print Icon -->
              <span class="printer-icon"><a href="javascript:window.print()">Print this page</a></span>
            </div>

            <div class="content clearfix">
              <p><%= @offer.tip_oferta %> de <%= @offer.nr_camere %> <%= camere(@offer.nr_camere).downcase %> de <%= @offer.tip_operatiune.downcase %> in zona <%= @offer.zona %>, <%= @offer.cartier %>, <%= @offer.localitate %>, Prahova. Pretul este de <%= pret(@offer.pret_vanzare, @offer.pret_inchiriere) %> <%= pret_per(@offer.moneda, @offer.pret_per) %> <%= 'negociabil' if @offer.negociabil %>. Disponibilitate <%= @offer.disponibilitate %></p>
            </div>

            <div class="features">
              <h4 class="title">Caracteristici si Dotari</h4>
              <ul class="arrow-bullet-list clearfix">
                <li><a href="#"><b>Tip Oferta</b> <%= @offer.tip_oferta %></a></li>
                <li><a href="#"><b>Nr camere</b> <%= @offer.nr_camere %></a></li>
                <li><a href="#"><b>Tip Operatiune</b> <%= @offer.tip_operatiune %></a></li>
                <li><a href="#"> <b>Nr. Bai</b> <%= @offer.nr_bai %></a></li>

                <li><a href="#"> <b>Anul constructiei</b> <%= @offer.anul_constructiei %></a></li>
                <li><a href="#"> <b>Nr. Balcoane</b> <%= @offer.nr_balcoane %></a></li>


                <li><a href="#"> <b>Pret <%= @offer.tip_operatiune.downcase %></b> <%= pret(@offer.pret_vanzare, @offer.pret_inchiriere) %> <%= pret_per(@offer.moneda, @offer.pret_per) %></a></li>
                <li><a href="#"><b>Etaj</b> <%= @offer.etaj %></a></li>


                <li><a href="#"> <b>Suprafata utila mp</b> <%= @offer.suprafata_utila_mp %></a></li>
                <li><a href="#"> <b>Nr etaje</b> <%= @offer.nr_etaje %></a></li>

                <li><a href="#"> <b>Confort</b> <%= @offer.confort %></a></li>
                <li><a href="#"> <b>Orientare</b> <%= @offer.orientare %></a></li>


                <li><a href="#"> <b>Compartimentare</b> <%= @offer.compartimentare %></a></li>
                <li><a href="#"><b>Parcare</b> <%= @offer.parcare %></a></li>


                <li><a href="#"><b>Structura imobil</b> <%= @offer.structura %></a></li>
                <li><a href="#"><b>Incalzire</b> <%= @offer.incalzire %></a></li>



                <li><a href="#"><b>Conditii</b> <%= @offer.conditii %></a></li>

                <% if @offer.mansarda_imobil %><li><a href="#"><b>Mansarda</b> Da</a></li><% end %>
                <% if @offer.demisol %><li><a href="#"><b>Demisol</b> Da</a></li><% end %>

                <li><a href="#"><b>Acoperis</b> <%= @offer.acoperis %></a></li>


                <li><a href="#"><b>Nivele</b> <%= @offer.suprafata_utila_mp %></a></li>
                <% if @offer.video %><li><a href="<%= @offer.video %>"><b>Video</b> <%= @offer.video %></a></li><% end %>

                <li><a href="#"><b>Disponibiliate</b> <%= @offer.disponibilitate %></a></li>
              </ul>
            </div>

          </article>

          <!--<div class="property-video">-->
          <!--<span class="video-label">Property Video</span>-->
          <!--<a href="http://vimeo.com/70301553" class="pretty-photo" title="Video">-->
          <!--<div class="play-btn"></div>-->
          <!--<img src="<%#= @offer.offer_images.order('position ASC').first.image_url(:listing) %>" alt="700 Front Street, Key West, FL">-->
          <!--</a>-->
          <!--</div>-->

          <div class="map-wrap clearfix">
            <span class="map-label">Harta Proprietatii</span>
            <div id="property_map">

            </div>

          </div>
          <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
          <script type="text/javascript">
              // Google Map
              function initialize()
              {
                  var geocoder  = new google.maps.Geocoder();
                  var map;
                  var latlng = new google.maps.LatLng(<%= @offer.latitude %>, <%= @offer.longitude %>);
                  var infowindow = new google.maps.InfoWindow();
                  var myOptions = {
                      zoom: 17,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                  };

                  map = new google.maps.Map(document.getElementById("property_map"), myOptions);

                  geocoder.geocode( { 'location': latlng },
                          function(results, status) {
                              if (status == google.maps.GeocoderStatus.OK)
                              {
                                  map.setCenter(results[0].geometry.location);
                                  var marker = new google.maps.Marker({
                                      map: map,
                                      position: results[0].geometry.location
                                  });
                                  //alert(results[0].formatted_address);
                                  //infowindow.setContent(results[0].formatted_address);
                                  //infowindow.open(map, marker);
                              }
                              else
                              {
                                  alert("Geocode was not successful for the following reason: " + status);
                              }
                          });

              }

              initialize();
          </script>

          <!--<div class="share-networks clearfix">-->
          <!--<span class="share-label">Share this</span>-->
          <!--<span><a target="_blank" href="https://www.facebook.com"><i class="icon-facebook"></i>Facebook</a></span>-->
          <!--<span><a target="_blank" href="https://twitter.com"><i class="icon-twitter"></i>Twitter</a></span>-->
          <!--<span><a target="_blank" href="https://plus.google.com"><i class="icon-google-plus"></i>Google</a></span>-->
          <!--</div>-->
          <!--</div>-->

          <div class="agent-detail clearfix">

            <div class="left-box">
              <h3>Agent John Doe</h3>
              <figure>
                <a href="#">
                  <img src="images/temp-images/agent-john.jpg"  alt="agent pic">
                </a>
              </figure>
              <ul class="contacts-list">
                <li class="office">Telefon : 041-456-7890</li>
                <li class="mobile">Email : 0223-123-4567</li>
                <li class="fax">Fax  : 041-789-1234</li>
              </ul>
            </div>

            <div class="contact-form">

              <h3>Contact</h3>

              <form id="agent-contact-form" class="contact-form-small" method="post" action="agent_form_handler.php">

                <input type="text" name="name" id="name" value="Nume" class="required" title="* Va rugam sa va adaugati numele">

                <input type="text" name="email" id="email" value="Email" class="email required" title="* Va rugam sa adaugati o adresa de email sa stim cum sa va contactam">

                <textarea name="message" id="comment" class="required" title="* Va rugam sa scrieti un mesaj">Mesaj</textarea>

                <input type="hidden" name="target" value="robot@psdtohtmlwp.com">
                <input type="hidden" name="action" value="send_message_to_agent">
                <input type="hidden" name="property_title" value="700 Front Street, Key West, FL">
                <input type="hidden" name="property_permalink" value="http://www.960demo.com/realhomes-html/property.php">

                <input type="submit" value="Trimite" name="submit" class="real-btn">
                <img src="images/ajax-loader.gif" id="contact-loader" alt="Loading...">

              </form>

              <div class="error-container"></div>
              <div id="message-sent">&nbsp;</div>
            </div>
          </div>

        </section>

      </div><!-- End Main Content -->

    </div> <!-- End span9 -->

    <div class="span3 sidebar-wrap">


      <%= render 'oferta_sidebar' %>
    </div>
  </div>
</div>