<tr>
  <td>
    <%= admin.id %>
  </td>
  <td>
    <%= admin.nume %>
  </td>
  <td>
    <%= admin.prenume %>
  </td>
  <td>
    <%= admin.email %>
  </td>
  <td>
    <%= admin.mobile %>
  </td>
  <td>
    <%= admin.fax %>
  </td>
  <td>
    <b><%= link_to "Edit", edit_admin_path(admin) %></b>
  </td>
</tr>