<tr>
  <td>
    <%= owner.nume %>
  </td>
  <td>
    <%= owner.prenume %>
  </td>
  <td>
    <%= owner.telefon1 %>
  </td>
  <td>
    <%= owner.email1 %>
  </td>
  <td>
    <%= link_to "Edit", edit_owner_path(owner) %>
  </td>
</tr>