<tr>
  <td>
    <%= owner.id %>
  </td>
  <td>
    <%= link_to owner.nume, edit_owner_path(owner) %>
  </td>
  <td>
    <%= link_to owner.prenume, edit_owner_path(owner) %>
  </td>
  <td>
    <%= owner.telefon1 %>
  </td>
  <td>
    <%= owner.email1 %>
  </td>
  <td>
    <%= link_to "Edit", edit_owner_path(owner) %>
  </td>
</tr>