<%= form_for(@owner, :html => {:multipart => true, :class => "form-horizontal"} ) do |f| %>
<h4>Detalii Proprietar</h4>
    <div class="input-group">
      <%= f.label :nume,"Nume*", :class => "input-group-addon" %>
      <%= f.text_field :nume, :class => "form-control" %>
    </div>

    <div class="input-group">
      <%= f.label :prenume,"Prenume*", :class => "input-group-addon" %>
      <%= f.text_field :prenume, :class => "form-control" %>
    </div>

    <div class="input-group">
      <%= f.label :telefon1, "Telefon1*", :class => "input-group-addon" %>
      <%= f.text_field :telefon1, :class => "form-control" %>
    </div>

    <div class="input-group">
      <%= f.label :telefon2, :class => "input-group-addon" %>
      <%= f.text_field :telefon2, :class => "form-control" %>
    </div>

    <div class="input-group">
      <%= f.label :email1, :class => "input-group-addon" %>
      <%= f.text_field :email1, :class => "form-control" %>
    </div>

    <div class="input-group">
      <%= f.label :email2, :class => "input-group-addon" %>
      <%= f.text_field :email2, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :comentarii, :class => "input-group-addon" %>
      <%= f.text_area :comentarii, :class => "form-control", :style => "height: 100px" %>
    </div>
<h4>Alte informatii</h4>
    <div class="input-group">
      <%= f.label :cnp, :class => "input-group-addon" %>
      <%= f.text_field :cnp, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :adresa, :class => "input-group-addon" %>
      <%= f.text_field :adresa, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :localitate, :class => "input-group-addon" %>
      <%= f.text_field :localitate, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :judet, :class => "input-group-addon" %>
      <%= f.text_field :judet, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :nume_firma, :class => "input-group-addon" %>
      <%= f.text_field :nume_firma, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :adresa_firma, :class => "input-group-addon" %>
      <%= f.text_field :adresa_firma, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :nr_inregistrare, :class => "input-group-addon" %>
      <%= f.text_field :nr_inregistrare, :class => "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :cui, :class => "input-group-addon" %>
      <%= f.text_field :cui, :class => "form-control" %>
    </div>

    <div class="form-actions">
        <%= f.submit "Save", :class => "real-btn btn", :disable_with => "Processing" %>
        <%= link_to "Cancel", :back, :class => "real-btn btn-grey cancel-btn" %>
    </div>
<% end %>