<p>Nume: <%= @message.nume %></p>
<p>Email: <%= @message.email %></p>
<p>Mesaj: <%= @message.mesaj %></p>

<p>Oferta: <a href="<%= offer_url(@message.offer) %>"> <%= offer_url(@message.offer) %></a></p>