<p>Nume: <%= @message.nume %></p>
<p>Email: <a href="mailto:<%= @message.email %>"><%= @message.email %></p>
<p>Mesaj: <%= @message.mesaj %></p>

<% if @message.offer %>
    <p>Oferta: <a href="<%= offer_url(@message.offer) %>"> <%= offer_url(@message.offer) %></a></p>
<% end %>