<tr class="<%=  'inactive' if offer.is_inactive? %>">
  <td>
    <div>
      <%= offer.id %>
    </div>
  </td>
  <td>
    <%= offer.titlu %>
  </td>
  <td>
    <%= link_to offer.owner.try(:nume).to_s + " " + offer.owner.try(:prenume).to_s, owner_path(offer.owner.id) %>
  </td>
  <td>
    <%= offer.owner.try(:telefon1) %>
  </td>
  <td>
    <%= offer.owner.try(:email1) %>
  </td>
  <td>
    <%= link_to "Edit", edit_offer_path(offer) %>
  </td>
</tr>