
<script>
    $( document ).on("click", '.trash-image', (function(e) {
            $(this).parent('li').find(':checkbox').attr('checked', true);
            $(this).parent('li').addClass("hidden");
        }));
</script>

<div class="field offer-images" >
  <div class="clear"></div>
  <%= label_tag nil, nil, class: "s3-upload-errors", :style => "color:red; margin:10px 0 20px;" %>
  <div class="clear" ></div>


  <div class="well">
    <a href="#" onclick="openFileOption();return false;">Add Files</a>
    or drag & drop them below
  </div>
  
  <ul id="offer-image-list">
    <% @offer.offer_images.each_with_index do |offer_image, index|  %>
      <%= f.fields_for :offer_images, offer_image, include_id: true do |e| %>
        <li class="thumbnail <%= main_image(@offer.offer_images, offer_image) %>" >
              <p class='trash_qa_tool trash-image' ></p>
              <%= image_tag(offer_image.image.listing, class: "offer-image-#{offer_image.image.model.id}") unless offer_image.image.blank? %>
              <div class="ribbon-wrapper"><div class="ribbon">Main</div></div>
              <% offer_image.key = offer_image.image.path %>
              <%= e.hidden_field :key, class: "offer-image-key" %>
              <%= e.hidden_field :position, class: "offer-image-position" %>
              <%= e.check_box :_destroy, :class => 'trash_qa_tool' %>
        </li>
      <% end %>

    <% end %>
  </ul>
</div>
 
<div class="clear"></div>