

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if controller.controller_name == 'offers' && controller.action_name == 'index' %>"><%= link_to "Home", offers_path %></li>
  <li role="presentation" class="<%= 'active' if controller.controller_name == 'offers' %>"><%= link_to "Oferte", offers_path %></li>
  <li role="presentation" class="<%= 'active' if controller.controller_name == 'clients' %>"><%= link_to "Clients", clients_path %></li>
</ul>