
<div class="menu-and-contact-wrap">

  <h2  class="contact-number"><i class="icon-phone"></i>0734 79 09 32 <span class="outer-strip"></span></h2>
  <!-- Start Main Menu-->
  <nav class="main-menu">
    <div class="menu-main-menu-container">
      <ul id="menu-main-menu" class="clearfix">
        <li class="current-menu-item current_page_item"><%= link_to 'Acasa', root_path %></li>
        <li><a href="#">Inchirieri</a>
          <ul>
            <% Offer::TIPURI_OFERTA.each do |tip_oferta| %>
                <li><a href="<%= b2c_offer_listing_path("tip-operatiune" => "inchiriere", "tip-oferta" => "#{tip_oferta}") %>"><%= tip_oferta %></a></li>
            <% end %>
          </ul>
        </li>
        <li><a href="#">Vanzari</a>
          <ul>
            <% Offer::TIPURI_OFERTA.each do |tip_oferta| %>
                <li><a href="<%= b2c_offer_listing_path("tip-operatiune" => "vanzare", "tip-oferta" => "#{tip_oferta}") %>"><%= tip_oferta %></a></li>
            <% end %>
          </ul>
        </li>
        <li><a href="#">Despre noi</a></li>
        <li><a href="#">Informatii utile</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div>
  </nav><!-- End Main Menu -->

</div><!-- End .menu-and-contact-wrap -->
